.todo {
    width: 90%;
    background-color: rgb(236, 149, 215);
    padding: 25px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 2px;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
    transition-duration: 300ms;
}

.todo:hover {
    background-color: rgb(110, 80, 104);
}

.todotext {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}